<app-header></app-header>
<div class="row">
    <div class="container">
        <div class="col s12 m3 l3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col s12 m9 l9">
            <div class="row">
                <div class="col s12 m6 l4" *ngFor="let follower of followers">
                    <div class="card">
                        <div class="card-image">
                            <img style="border-radius: 100%; padding: 20px;" src="https://via.placeholder.com/150">
                        </div>
                        <div class="card-content">
                            <span class="card-title" style="word-wrap: break-word;">{{follower.follower.username}}</span>
                            <p>india</p>
                        </div>
                        <!-- <div class="card-action">
                            <button class="waves-effect waves-light btn">Unfollow </button>

                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {{followers | json  }} -->